body{background-color: hsla(303, 85%, 34%, 1)}
h1{background-color:#000000; color: red;}
h1{font-size: 48px;}
h1{text-align: center;}
h2{background-color:hsl(110, 100%, 35%);color:rgb(255, 255, 255);}
h2{font-weight: lighter;}
h2{text-decoration: underline;}
h3{background-color: yellow;}
h3{font-style: oblique;}
h3{line-height: 1.35;}
h3{word-spacing: .57cm;}
p{color: hsl(351, 100%, 87%);}
p{font-variant: small-caps;}
em{text-transform: uppercase;}
strong{text-shadow: 3px 3px 3px blue}
ul{background-color: hsl(225, 27%, 69%);}
ul{letter-spacing: 0.08em;}
ol{background-color:hsl(100, 100%, 100%);color:lightgray;}
ol{letter-spacing: 0.8em;}
<!-- rgb(160, 13, 153); hex code #a00d99 -->